<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <style>
        .container {
            text-align: center;
        }

        form {
            width: 400px;
            margin: 0 auto;
        }

        .form-group {
            text-align: left;
            margin-bottom: 15px;
        }

        label {
            display: inline-block;
            width: 120px;
        }

        input[type="text"],
        textarea {
            width: calc(100% - 130px);
        }
    </style>
</head>
<body>
<div class="container">

    <p th:text="${errorMessage}" style="color: red;"></p>

    <form action="/post/new" method="post" >
        <p th:text=" ${data}" ></p>

        <div class="form-group">
            <label for="author">이름</label>
            <input type="text" id="author" name="author" placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea id="content" name="content" placeholder="내용을 입력하세요" th:rows="10"></textarea>
        </div>
        <button type="submit">등록</button>
    </form>
</div>
</body>
</html>
