<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        .button-link {
            display: inline-block;
            padding: 10px 20px;
            background-color: #eaa1a1;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <div>
        <h3>게시글 조회하기</h3>
        <table>
            <thead>
            <tr>
                <th>번호</th>
                <th>작성자</th>
                <th>제목</th>
                <th>내용</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.inputName}"></td>
                <td th:text="${post.inputTitle}"></td>
                <td th:text="${post.inputContent}"></td>
            </tr>
            <a href="/" class="button-link">홈</a>
            <a href="update" class="button-link">등록</a>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>